<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>5CB71329-182F-4D0F-91FC-B26ADDCE53A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8634F76-6F15-493C-9155-01831D3025F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8634F76-6F15-493C-9155-01831D3025F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Roman Komarov</string>
	<key>description</key>
	<string>Get Yandex Search Suggestions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Yandex Suggest</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>я</string>
				<key>runningsubtext</key>
				<string>Получаем список подсказок…</string>
				<key>script</key>
				<string>require_once('workflows.php');
$wf = new Workflows();

$orig = "{query}";

include('suggest.php');
</string>
				<key>subtext</key>
				<string>Искать в Яндексе с подсказками</string>
				<key>title</key>
				<string>Найти в Яндексе</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5CB71329-182F-4D0F-91FC-B26ADDCE53A0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>y</string>
				<key>runningsubtext</key>
				<string>Получаем список подсказок…</string>
				<key>script</key>
				<string>require_once('workflows.php');
$wf = new Workflows();

$orig = "{query}";

include('suggest.php');
</string>
				<key>subtext</key>
				<string>Искать в Яндексе с подсказками</string>
				<key>title</key>
				<string>Найти в Яндексе</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>userinput="{query}"

if [[ $userinput == //* ]]; then
  open http:{query}
else
  open http://yandex.ru/yandsearch?text={query}
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F8634F76-6F15-493C-9155-01831D3025F1</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5CB71329-182F-4D0F-91FC-B26ADDCE53A0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F8634F76-6F15-493C-9155-01831D3025F1</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://yandex.ru/</string>
</dict>
</plist>
